firmware/*.bin filter=lfs diff=lfs merge=lfs -text
packages/v5.15.197/*.deb filter=lfs diff=lfs merge=lfs -text
packages/v6.1.159/*.deb filter=lfs diff=lfs merge=lfs -text
packages/v6.19/*.deb filter=lfs diff=lfs merge=lfs -text
packages/v6.19-supermepsipax/*.deb filter=lfs diff=lfs merge=lfs -text
